<section id="main-content" class="span-16">
	<header class="collection-title">
		<hgroup>
			<h1><%= link_to "William Faulkner Audio Collection", root_url %></h1>
			<h3>Search Results</h3>
		</hgroup>
	</header>
	
	<%#= @transcripts[:responseHeader][:params][:q].inspect %>

	<p class="search-notice">Your search for <em><%= params[:q] %></em> returned <strong><%= @transcripts[:response][:numFound] %></strong> results.</p>

	<div class="pagination">
		<%= will_paginate @transcripts.docs %>
	</div>

	<div class="search_results">
	
	
		<% @transcripts.docs.each do |transcript| %>

		<div class="result">
			<% file = transcript[:doc_id] + '.xml' %>
			<%# file = transcript[:doc_id] + '.xml#' + transcript[:id] %>	
			<h3><%= link_to (transcript[:head], :controller => "transcripts", :action=>"show", :file => file, :escape => false) %></h3>
			<!-- <p><%#= transcript[:fulltext] %></p> -->
			<p>
				<%= @transcripts[:highlighting]["#{transcript[:id]}"][:fulltext] %>
	
				<%= link_to ("read more &#8608;", :controller => "transcripts", :action=>"show", :file => file, :escape => false) %>
			</p>
		</div>
		<% end %>
	</div>

	<div class="pagination">
		<%= will_paginate @transcripts.docs %>
	</div>
</section>