<h1>Results</h1>
<%#= @transcripts[:responseHeader][:params][:q].inspect %>

<p>Your search for <em><%= params[:q] %></em> returned <strong><%= @transcripts[:response][:numFound] %></strong> results.</p>

<div class="pagination">
	<%= will_paginate @transcripts.docs %>
</div>

<div class="search_results">
	
	
	<% @transcripts.docs.each do |transcript| %>

	<div class="result">
		<% file = transcript[:doc_id] + '.xml' %>
		<%# file = transcript[:doc_id] + '.xml#' + transcript[:id] %>	
		<h3><%= link_to (transcript[:head], :controller => "transcripts", :action=>"show", :file => file, :escape => false) %></h3>
		<!-- TODO: get highlightling from @transcripts[:highlighting][:id][:fulltext] -->
		<p><%= transcript[:fulltext] %></p>
	</div>
	<% end %>
</div>

<div class="pagination">
	<%= will_paginate @transcripts.docs %>
</div>