<!DOCTYPE html>
<html>
	<head>
		<title>University of Virginia Library - William Faulkner Audio Collection</title>
		<%= render :partial => "layouts/stylesheets" %>
		<%= render :partial => "layouts/javascripts" %>
	</head>
	<body>
		
		<%= render :partial => "layouts/header" %>
		
		<div id="content" class="container prepend-top append-bottom">
			<article id="bd" class="span-24">				
				<%= yield %>
				<%= unless params[:action] == 'show'
							render :partial => "sidebar"
						end %>
			</article>
		</div>
		
		<%= render :partial => "layouts/footer" %>
	</body>
</html>
